@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root{
    width: 100vmax;
    height: auto;
    min-height: 100vh;
    max-width: none;
    display: block;
    padding: 5%;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
}

h1{
    font-weight: 600;
}
#circles{
    width: 25vmax;
}

#main{
    display: flex;
    justify-content: space-between;
}

.progress_bar{
    margin: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: auto;
    transition: 0.5s;
    opacity: 1;
}

#circles.disabled .progress_bar{
    opacity: 0;
}

#steps_prog{
    width: 20vmax;
    background: 
        radial-gradient(closest-side, #000000 79%, transparent 80% 100%),
        conic-gradient(#5E65FF 75%, #000000 0);    
    display: flex;
    justify-content: center;
    align-items: center;
}
#calories_prog{
    width: 15vmax;
    background: 
        radial-gradient(closest-side, #000000 79%, transparent 80% 100%),
        conic-gradient(#FF5252 75%, #000000 0); 
    display: flex;
    justify-content: center;
    align-items: center;   
}
#time_prog{
    width: 11vmax;
    background: 
        radial-gradient(closest-side, #000000 79%, transparent 80% 100%),
        conic-gradient(#A5FF9D 75%, #000000 0);    
}

#cards_cont{
    flex-grow: 1;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2vmax;
}

.card{
    width: 25vmax;
    height: auto;
    aspect-ratio: 1.8;
    background-color: white;
    border-radius: 20px;
}

.card h3{
    margin: 0;
    font-weight: 300;
    font-size: xx-large;
}

.card h2{
    font-weight:600;
    text-align: center;
    font-size: xxx-large;
}

#time{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #A5FF9D;
    color: black;
}

#steps{
    background-color: #5E65FF;
}

#calories{
    background-color: #FF5252;
}
