@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.charts{
    width: 50vw !important;
    height: auto !important;
    aspect-ratio: 2/1 !important;
}