@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root{
    width: 100vmax;
    height: auto;
    min-height: 100vh;
    max-width: none;
    display: block;
    padding: 5%;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
}

h1{
    font-weight: 600;
    font-size: xx-large;
}

